.answerWrapp {
  padding: 20px;
  border: 1px solid grey;
  text-align: left;
  margin: 10px auto;
  border-radius: 10px;
}
.userWrapp {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Answer {
  margin: 10px 40px;
}

pre code {
  display: block;
  background: none;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 0;
  background-color: rgba(10, 10, 10, 0.8);
  color: #fff;
  padding: 10px;
}
