.App {
  text-align: center;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: olive;
}

a:hover,
a:active {
  color: rgb(68, 68, 22);
}

a:visited {
  color: rgb(129, 129, 107);
}

.author-name {
  border: none;
  font-size: 18px;
  background-color: inherit;
  cursor: pointer;
}

.author-name:hover, .author-name:active, .author-name:focus {
  color: rgb(95, 119, 111);
}

.tag {
  padding: 4px 8px;
  border-radius: 8px;
  background-color: rgba(75, 70, 70, 0.6);
  border: none;
  color: white;
  margin-right: 10px;
  margin-bottom: 10px;
}

.tag:hover,
.tag:active,
.tag:focus {
  background-color: rgba(128, 107, 107, 0.6);
}

.question__wrapper {
  margin: 20px auto;
  max-width: 850px;
  background-color: rgb(190, 204, 204);
  padding: 20px;
  border-radius: 10px;
}
